/* ==========================================================================
   BASE/_LINKS.SCSS
   ========================================================================== */

//Inline Text
a {
    text-decoration: none;
    outline: 0;
    transition: color 250ms ease-out;
}
