{% block content %}
	<section class="copy-block {{ module.background_color }} {{ module.spacing_options }}">
    <div class="container {{ module.container_width }}">
      {{ module.copy }}
    </div>
  </section>
{% endblock %}
